*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Package Files #
*.jar
*.war
*.ear

# Developer Files #
target
*.i??
.idea
.DS_Store
.classpath
.project
.settings
.checkstyle
*.log
.tern-project
build.metadata
work
